<div class="tab-content" id="nav-tabContent">
  <div class="product-list">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex={{i}}
      *ngFor="let product of filteredProducts;let i = index" class="product-card">
      <img [src]="product.image" alt="{{ product.title }}" class="product-image">
      <div class="product-details">
        <h3 class="product-title">{{ product.title }}</h3>
        <p class="product-price">{{ product.price | currency }}</p>
      </div>
      <button class="add-to-cart-button" (click)="addToCart(product)">Add to Cart</button>
    </div>
  </div>
</div>